extends layout

block content
  script(src="scripts/describe.js")
  main.container(role="main", ng-controller="describeCtrl as ctrl")
    div.row(style="padding-top:20px")
      div.col-md-1
      div.col-md-10
        h5(style="text-align: center; padding-bottom:10px;") {{ ctrl.uri }}
        div.row.row-table(ng-repeat="(i, res) in ctrl.properties", ng-init="ctrl.getValues(res)")
          div.col-md-3.row-table-title
            a(href="{{ res.uri.value }}") {{ res.label? res.uri.label : ctrl.toPrefix(res.uri.value) }}
          div.col-md-9.row-table-values
            div(ng-repeat="(i, v) in ctrl.values[res.uri.value]")
              a(ng-if="v.uri.type=='uri'", href="{{ v.uri.value }}") {{ v.label ? v.label.value : ctrl.toPrefix(v.uri.value) }}
              b(ng-if="v.uri.type!='uri'") {{ v.uri.value }}
          
        //div.table-responsive
          table.table.table-hover
            tbody
              tr(ng-repeat="(i, res) in ctrl.properties",
                 ng-init="ctrl.getValues(res)")
                th 
                  a(href="{{ res.uri.value }}") {{ res.label? res.uri.label : ctrl.toPrefix(res.uri.value) }}
                td
                  div(ng-repeat="(i, v) in ctrl.values[res.uri.value]")
                    a(ng-if="v.uri.type=='uri'", href="{{ v.uri.value }}") {{ v.label ? v.label.value : ctrl.toPrefix(v.uri.value) }}
                    b(ng-if="v.uri.type!='uri'") {{ v.uri.value }}
