extends layout

block content
  main.container(role="main", ng-controller="describeCtrl")
    div.row(style="padding-top:20px")
      div.col-md-2
      div.col-md-8
        h5(style="text-align: center; padding-bottom:10px;") {{ iri }}
        table.table.table-hover
          tbody
            tr(ng-repeat="(key, value) in dataProp")
              th 
                a(href="{{ labels[key] }}") {{ key }}
              td 
                b {{ value }}
            tr(ng-if(type))
              th 
                a(href="http://www.w3.org/1999/02/22-rdf-syntax-ns#type") type
              td 
                a(href="{{ type }}") {{ type }}
            tr(ng-repeat="(key, value) in objProp")
              th 
                a(href="{{ labels[key] }}") {{ key }}
              td 
                a(href="{{ value }}") {{ value }}
