extends layout

block content
  link(href='https://cdn.jsdelivr.net/yasqe/2.2/yasqe.min.css', rel='stylesheet', type='text/css')
  //script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src='https://cdn.jsdelivr.net/yasqe/2.2/yasqe.bundled.min.js')
  style(type="text/css") .CodeMirror { height: auto !important; }
  main.container(role="main")
    div.row
      div.col-md-2
      div.col-md-8
        h1 Examples
        p In our first example we obtain 10 images associated to these:
        div#yasqe0
        p 
        | You can get the results of a image.
        | In the following examples we use the image dockerpedia/pegasus_workflow_images
        | version latest.
        p 
        | We can obtain all the packages of this image and their version:
        p
        div#yasqe1
        p 
        | Also, you can compare the packages of images. This example compares two versions of the image 
        | dockerpedia/pegasus_workflow_images
        p
        div#yasqe2
        p 
        | You can query which images are using a package (example:dash), the package version and operating system 
        p
        div#yasqe6
        p
        | Also, as a layer can be used in multiple images, we may be interested in knowing which 
        | ones are the most popular:
        p
        div#yasqe5
        p
        | And this one returns the top 10 most used packages:
        p
        div#yasqe3
        p
        | These are just some ways how our dataset can be used. We recommend executing these examples
        | in the 
        a(href="/query") query section 
        |  varying the parameters to get used to the endpoint and start creating your own queries. 
        p &nbsp;
