extends layout

block content
  link(href='http://cdn.jsdelivr.net/yasqe/2.2/yasqe.min.css', rel='stylesheet', type='text/css')
  //script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src='http://cdn.jsdelivr.net/yasqe/2.2/yasqe.bundled.min.js')
  style(type="text/css") .CodeMirror { height: auto !important; }
  main.container(role="main")
    div.row
      div.col-md-2
      div.col-md-8
        h1 Examples
        p This is the first example
        div#yasqe0
        p This is the second example
        div#yasqe1
        p and this the third one
        div#yasqe2
        div#yasqe3
        div#yasqe4
        div#yasqe5
        div#yasqe6
        div#yasqe7
