extends layout

block content
  link(href='https://cdn.jsdelivr.net/yasqe/2.2/yasqe.min.css', rel='stylesheet', type='text/css')
  //script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src='https://cdn.jsdelivr.net/yasqe/2.2/yasqe.bundled.min.js')
  style(type="text/css") .CodeMirror { height: auto !important; }
  main.container(role="main")
    div.row
      div.col-md-2
      div.col-md-8
        h1 Examples
        p In our first example we obtain 10 repositories and the images associated to these:
        div#yasqe0
        p 
        | You can filter these results to get the repository/image you want to analyze.
        | In the following examples we use the image with ID 1140801 because has all the information
        | needed to explain the characteristics of the dataset.
        p 
        | We can obtain all the packages of this image and their version:
        p
        div#yasqe1
        p 
        | Expanding this query we can obtain the vulnerabilities associated with these packages:
        p
        div#yasqe2
        p 
        | Now we have all the information needed to analyze the vulnerabilities of a Docker Hub
        | image or repository!
        | We do not even need to know information about the images or repositories, we can 
        | directly search for critical vulnerabilities and make a list of the packages with
        | more versions having some:
        p
        div#yasqe6
        p &nbsp;
        p
        | But our dataset is not only useful when we are searching for the vulnerabilities of 
        | repositories and images.
        | We can analyze the information stored in Docker Hub in several ways, as an example 
        | the following query shows a ranking of the most commonly used operating systems:
        p
        div#yasqe3
        p
        | And this one returns the top 10 most used packages: 
        p
        div#yasqe4
        p
        | Also, as a layer can be used in multiple images, we may be interested in knowing which 
        | ones are the most popular:
        p
        div#yasqe5
        p
        | These are just some ways how our dataset can be used. We recommend executing these examples
        | in the 
        a(href="/query") query section 
        |  varying the parameters to get used to the endpoint and start creating your own queries. 
        p &nbsp;
