footer.bg-dark.text-white
  div.container-fluid.py-3
    div.row
      div.col-md-1 
      div.col-md-9 DockerPedia is licensed under the Open Database License (ODC-ODbL)
      div.col-md-1
    div.row
      div.col-md-1
      div.col-md-8.small Created by Maximiliano Osorio, Carlos Buil-Aranda and Hernán Vargas
      div.col-md-2.text-right.small.align-self-end 2018
