extends layout

block content
  div#carouselExampleSlidesOnly.carousel.slide(data-ride="carousel")
    div.carousel-inner
      div.carousel-item.active
        img.d-block.w-100(src="images/dockerpedia.png", alt="First slide")

  main.container(role="main")

    div.row
      div.col-md-2
      div.col-md-8
        h2 Welcome to DockerPedia
        p
          b DockerPedia 
          | is a RDF linked dataset that stored the information about dockers hosted in 
          a(href="https://hub.docker.com") Docker Hub 
          | including 4.5 million of images, its layers and packages.
          | We also provide the vulnerability analysis of these packages obtained with 
          a(href="https://github.com/coreos/clair") clair
          | . As of this writing we have analyzed 150.000 images and this number is always increasing,
          | creating more that 100 millions of RDF triples that include links to external resources
          | such as the 
          a(href="packages.qa.debian.org/") Debian Package Tracking System 
          | and 
          a(href="https://store.docker.com/") The Docker Store
          | .
        p To explore the data you can follow any of the following links: 
        ul
          li 
            a(href="#") Interactive browser 
            b(style="color: red;") (TODO). 
          li
            a(href="/query") SPARQL Endpoint
          li 
            a(href="/examples") Several Examples
          li 
            a(href="/examples") Docker Ontology documentation
            b(style="color: red;") (TODO). 
          li
            a(href="https://github.com/sirspock/dockerpedia") GitHub repository
          li
            a(href="/files/dataset.nt") Download dataset
        p

  include footer
