extends layout

block content
  div.carousel.slide(data-ride="carousel")
    div.carousel-inner
      div.carousel-item.active
        img.d-block.w-100(src="images/dockerpedia.png", alt="First slide",
            style="object-fit: cover; height: 490px")

  main.container(role="main", style="padding-top: 15px")
    div.row
      div.col-md-2
      div.col-md-8
        h2 Welcome to DockerPedia
        p
          b DockerPedia 
          | is an RDF linked dataset that stores the information about Docker images hosted in 
          a(href="https://hub.docker.com") Docker Hub 
          | including 4.5 million of images, its layers and packages.
          | We also provide  vulnerability analysis of these packages obtained with 
          a(href="https://github.com/coreos/clair") Clair
          | . As of this writing we have analyzed 150.000 images and this number is always increasing,
          | creating more than 100 millions of RDF triples that include links to external resources
          | such as the 
          a(href="packages.qa.debian.org/") Debian Package Tracking System 
          | and 
          a(href="https://store.docker.com/") The Docker Store
          | .
        p To explore the data you can follow any of the following links: 
        ul
          //li 
            a(href="#") Interactive browser 
            b(style="color: red;") (TODO). 
          li
            a(href="/query") SPARQL Endpoint
          li 
            a(href="/examples") Several Examples
          //li 
            a(href="/examples") Docker Ontology documentation
            b(style="color: red;") (TODO). 
          li
            a(href="https://github.com/sirspock/dockerpedia") GitHub repository
          li
            a(href="https://figshare.com/articles/DockerPedia_Dataset_v1_0-beta_1/6260822") Download dataset
          li
            a(href="https://github.com/sirspock/dockerpedia/blob/master/docker_ontology.rdf") Ontology
        p
