doctype html
html(lang="en", ng-app="dockerpedia")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    base(href="/")
    // Bootstrap stuff
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    // Angular
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js")
    // mine
    script(src="scripts/main.js")
    title="DockerPedia"
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light(ng-controller="mainCtrl")
      a.navbar-brand(href="/") DockerPedia
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNavDropdown",
                            aria-controls="navbarNavDropdown", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div#navbarNavDropdown.navbar-collapse.collapse
        ul.navbar-nav.mr-auto
          li.nav-item(ng-class="!loc ? 'active' : '';")
            a.nav-link(href="/") Home
        ul.navbar-nav
          li.nav-item(ng-class="loc == 'examples'? 'active' : '';")
            a.nav-link(href="/examples") Examples
          li.nav-item(ng-class="loc == 'query' ? 'active' : '';")
            a.nav-link(href="/query") Query
    block content
