extends layout

block content
  div#yasgui
  link(href='//cdn.jsdelivr.net/npm/yasgui@2.7.21/dist/yasgui.min.css', rel='stylesheet', type='text/css')
  script(src='//cdn.jsdelivr.net/npm/yasgui@2.7.21/dist/yasgui.min.js')
