.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
  cursor: initial;
}

.legend-title {
  border: 1px solid #d3d3d3;
  padding: 4px 12px 4px 12px;
  background-color: rgb(233, 236, 239);
  border-radius: 4px;
  cursor: pointer;
}

.legend-title.active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.legend-select > .input-group-prepend > .input-group-text {
  border-bottom-left-radius: 0;
}

.legend-select > .custom-select {
  border-bottom-right-radius: 0;
}

.legend-box {
  vertical-align:top;
  width: 100%;
  display: inline-block;
  max-height: 0px;
  overflow: hidden;
  transition: all linear 0.5s;
}

.legend-box.active {
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  max-height: 260px;
  overflow-y: scroll;
}

.legend-box > div {
  padding: 5px 10px 5px 2em;
  position: relative;
}

.legend-box > div:hover {
  background-color: rgba(0,0,0,.075);
}

.legend-box > div.active {
  text-decoration: underline;
  font-weight: bold;
}

.legend-box > div.active > .small-box{
  border: 2px solid black;
}

.small-box {
  position: absolute;
  left: 7px;
  top: 7px;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid rgba(0, 0, 0, .2);
}

.legend-box > div > .name {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 42px);
  display: inline-block;
  overflow: hidden;
  cursor:default;
}

.legend-box > div > shape {
  position: absolute;
  left: 7px;
  top: 7px;
}

.filter-title {
  margin-top: 15px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  padding: 4px 12px 4px 12px;
  background-color: rgb(233, 236, 239);
  cursor:pointer;
}

.filter-title.active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.filter-box {
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  transition: all linear 0.5s;
}

.filter-box.active {
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  max-height: 280px;
  overflow-y: scroll;
}


.filter-box > .row {
  padding: 4px 12px 4px 12px;
}

.filter-legend {
  padding-top: 14px;
  text-align: right;
  font-weight: bold;
}

.filter-title > i, .legend-title > i, .legend-box > div > i {
  padding-top: 4px;
  cursor:pointer;
}

.dot, .bar {
  cursor:pointer;
}

.dot {
  fill-opacity: .05;
}

.dot.active {
  fill-opacity: .6;
}

text {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  cursor: default;
}

#scatter-svg {
  /*border: 1px solid red;*/
}

.tooltip {
  background: lightgrey;
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  pointer-events: none;
  max-width: 290px;
}

.tooltip > hr {
  margin: 6px 0px 6px 0px;
}

.tooltip > h6 {
  text-align:center;
}

.tooltip > i {
  word-wrap: break-word;
}

rect.scatter-rect {
  fill: transparent;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

.axisLine {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 2px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.image-score {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  font-size: 42px;
  width: 50px;
  border-right: 1px solid black;
  margin-right: 15px;
}

.image-table {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left:auto;
  margin-right:auto;
}

.div-table {
  margin: 5px 0px 5px 0px;
  max-height: 24px;
  -webkit-transition: max-height 0.4s ease-in-out;
  transition: max-height 0.4s ease-in-out;
  overflow: hidden;
}

.div-table.active {
  max-height: 208px;
}

.div-table > .table-header {
  font-weight: bold;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
}

.div-table > .table-body {
  max-height: 184px;
  overflow-y: scroll;
}

.div-table.active > .table-body {
  border-bottom: 1px solid #D3D3D3;
  border-right: 1px solid #D3D3D3;
  border-left: 1px solid #D3D3D3;
}

.vCritical {
  background-color: #d7191c;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.vHigh {
  background-color: #fdae61;
}

.vMedium {
  background-color: #ffffbf;
}

.vLow {
  background-color: #abd9e9;
}

.table-header > i {
  padding-top: 4px;
  cursor:pointer;
}

.user-box {
  display: inline-block;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  margin: 5px 10px 0px 0px;
  padding: 3px 5px;
}

.user-box > i {
  padding-left: 4px;
  cursor:pointer;
}

/* To fix typeahead (bootstrap 3) */
.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
