#chart {
  /*max-width: 100%;*/
  overflow:auto;
  width:calc(100% - 30px);
  height:620px;
}

text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

rect {
  stroke: #fff;
  stroke-width: 1px;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
	cursor: pointer;
}

.grandparent:hover rect {
  fill: darkgrey;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.child {
  opacity: 0;
}

.children rect.parent {
}

.children:hover rect.child {
  opacity: 1;
  stroke-width: 1px;
}

.children:hover rect.parent {
  opacity: 0;
}

.legend {
  /*margin-bottom:8px !important;
  background: gray;*/
}

.legend rect {
  stroke-width: 0px;
}

.legend text {
  text-anchor: middle;
  pointer-events: auto;
  font-size: 13px;
  font-family: sans-serif;
  fill: black;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-group {
	text-align:left;
}

.textdiv {
  pointer-events: none;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 14px;
  padding: 7px;
	cursor: pointer;
	overflow:none;
 /*text-shadow: 2px 2px black;*/
  /*color: white;*/
}

.textdiv .title {
  font-size: 102%;
  font-weight: bold;
  margin-top: 8px;
	font-size:11px !important;
}

.textdiv p{
	line-height: 13px;
	margin:0 0 4px !important;
	padding:0px;
	font-size:10px !important;
}

.scoreA, .scoreF {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.scoreB, .scoreC, .scoreD {
  color: black;
}

.fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}

.modal-desc {
  padding: 5px 15px 5px 15px;
}

.modal-desc > a:hover {
  color: steelblue;
  text-decoration: underline;
}

.modal-desc > a {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: black;
  display: block;
}

.modal-desc > a > i {
  padding-left: 3px;
  font-size: 0.6em;
}

.image-ver {
  background-color: yellow;
  padding: 4px;
  border: 1px solid black;
}

.image-score {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  font-size: 50px;
  width: 120px;
  border-right: 1px solid black;
  margin-right: 15px;
	cursor: help;
}

.image-table {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left:auto;
  margin-right:auto;
}

.image-score > .tooltiptext {
  text-align: left !important;
  font-size: 14px;
  visibility: hidden;
  width: 120px;
  background-color: darkgray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding-left: 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.image-score:hover .tooltiptext {
  visibility: visible;
}

.dropdown-item > input {
  pointer-events: none;
}

.dropdown-item {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
#tutor {
  text-align: center;
  cursor:pointer;
}
#tutor:hover {
  text-width: bold;
  color: steelblue;
  text-decoration: underline;
}

.div-table {
  margin-bottom: 10px;
  max-height: 24px;
  -webkit-transition: max-height 0.4s ease-in-out;
  transition: max-height 0.4s ease-in-out;
  overflow: hidden;
}

.div-table.active {
  max-height: 324px;
}

.div-table > .table-header {
  font-weight: bold;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
}

.div-table > .table-body {
  max-height: 300px;
  overflow-y: scroll;
}

.div-table.active > .table-body {
  border-bottom: 1px solid #D3D3D3;
  border-right: 1px solid #D3D3D3;
  border-left: 1px solid #D3D3D3;
}

.vCritical {
  background-color: #d7191c;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.vHigh {
  background-color: #fdae61;
}

.vMedium {
  background-color: #ffffbf;
}

.vLow {
  background-color: #abd9e9;
}
