div.modal-desc
  a.image-link(href="{{ ctrl.getUrl() }}", target="_blank") {{ ctrl.getTitle() }}   
    i.fa.fa-external-link(aria-hidden="true")
  div(style="text-align: center;")
  hr
  i {{ ctrl.getDescription() }}
  table.image-table
    tr
      th(rowspan="4")
        div.image-score(style="color:{{ctrl.getColor();}};") {{ ctrl.getLetter() }}
          span.tooltiptext Vulnerabilities:&nbsp;
            div(ng-repeat="(a,b) in ctrl.getVulnerabilities()") - {{b}} {{a}}
      td 
        strong Label:&nbsp;
        span.image-ver {{ ctrl.getLabel() }}
    tr
      td 
        strong Last updated:&nbsp;
        | {{ ctrl.getLastUpdated() }}
    tr
      td 
        strong Installed packages:&nbsp;
        | {{ ctrl.getInstalledPackages() }}
    tr
      td 
        strong Image size:&nbsp;
        | {{ ctrl.getSize() }}
  strong(ng-if="ctrl.hasData()") Vulnerabilities:
  div.div-table(ng-repeat="title in ['Critical', 'High', 'Medium', 'Low']",
                ng-class="ctrl.active[title] ? 'active' : '';",
                ng-if="ctrl.data[title].length > 0",
                ng-init="ctrl.active[title]=false;")
    div.table-header(ng-click="ctrl.active[title] = !ctrl.active[title];",
                     ng-class="'v'+title") {{ title }} ({{ ctrl.data[title].length }})
      i.pull-right.fa(ng-class="ctrl.active[title] ? 'fa-angle-up' : 'fa-angle-down';")
    div.table-body
      div.row.row-table(ng-repeat="(i,obj) in ctrl.data[title]")
        div.col-4 {{ obj.package }}
        div.col-3 {{ obj.version }}
        div.col-5 
          a(href="{{ obj.link }}") {{ obj.name }}

